#aboutUs .titleModule {
    text-align: center;
    font: normal normal bold 2.18rem/4.93rem Inter;
    letter-spacing: 0;
    color: #FD6648;
    opacity: 1;
    margin : 0;
    padding : 0;
}

#aboutUs .descriptionCard {
    text-align: center;
    font: normal normal normal 1.87rem/3.12rem Inter;
    letter-spacing: 0;
    color: #626260;
    opacity: 1;
    margin-bottom : 0;
    padding : 0;
}