#ourVisionOfIndust .titleModule {
    text-align: center;
    font: normal normal bold 2.18rem/4.93rem Inter;
    letter-spacing: 0px;
    color: #24387A;
    opacity: 1;
    margin : 0;
    padding : 0;
}
#ourVisionOfIndust .subtitleModule {
    text-align: left;
    font: normal normal 600 1.25rem/2.5rem Inter;
    letter-spacing: 0;
    color: #626260;
    margin : 1.5rem 0 0 0;
    padding : 0;
}
#ourVisionOfIndust .descriptionCard {
    text-align: left;
    font: normal normal normal 1.25rem/2.5rem Inter;
    letter-spacing: 0;
    color: #626260;
    margin : 2.37rem 0 0 0;
    padding : 0;
}