#slider .sliderContainer {
    background-image : url("../../assets/images/common/bgPODServices.png");
    mix-blend-mode : multiply;
    border : 0.06rem solid #707070;
    min-height : 53.93rem;
    padding : 6.06rem 0 3.56rem 0;
}

#slider .arrowContainer {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align : right;
}

#slider .arrowContainer.arrowLeft {
    text-align : left;
}

#slider .arrowContainer.arrowRight {
    text-align : right;
}

#slider .button {
    text-align: center;
    background : #FD6648 0% 0% no-repeat padding-box;
    border: none;
    border-radius : 1.87rem;
    margin : 0;
    padding : 0.93rem 1.18rem;
}

#slider .button span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#slider button {
    background : transparent;
    border : none;
    cursor : pointer;
}

#slider .arrow {
    font-size: 2.62rem;
    color : #fff;    
}

#slider .arrow.disabled {
    opacity: 0.2;
}