#clients .titleModule {
    text-align: center;
    font: normal normal medium 2.18rem/2.5rem Inter;
    letter-spacing: 0;
    color: #FD6648;
    opacity: 1;
    margin: 0;
    padding: 0;
}

#clients .descriptionModule {
    text-align: left;
    font: normal normal normal 1.56rem/2.81rem Inter;
    letter-spacing: 0;
    color: #626260;
    opacity: 1;
    margin: 3.68rem 0 0 0;
    padding: 0;
}