#seeqWorkbench .descriptionModule {
    text-align: left;
    font: normal normal 600 1.56rem/2.81rem Inter;
    letter-spacing: 0px;
    color: #626260;
    opacity: 1;
    margin: 1rem 0 0 0;
    padding: 0;
}

#seeqOrganizer .mapContainer {
    margin: 1.56rem 0 0 0;
    padding: 0;
}