#dataStrategy .titleModule {
    text-align: center;
    font: normal normal bold 2.18rem/4.93rem Inter;
    letter-spacing: 0;
    color: #FD6648;
    opacity: 1;
    margin : 0;
    padding : 0;
}
#dataStrategy .subtitleModule {
    text-align: center;
    font: normal normal 600 1.25rem/2.5rem Inter;
    letter-spacing: 0;
    color: #626260;
    opacity: 1;
    margin : 0;
    padding : 0;
}
#dataStrategy .descriptionCard {
    text-align: center;
    font: normal normal normal 1.25rem/2.5rem Inter;
    letter-spacing: 0;
    color: #626260;
    opacity: 1;
    margin : 0;
    padding : 0;
}